<h2 style = "color:Brown">Comprehensions

In [ ]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

l2 = []

for i in l1 :
    l2.append(len(i))
    
l2

[11, 5, 4, 6, 14]

#### The Functional Approach

In [ ]:
# Example on list comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a list consisting of length of each element from the above list

l2 = [len(i) for i in l1]

print(l2)

[11, 5, 4, 6, 14]

In [ ]:
# iterating over l1 and l2 simultaneously

for i,j in zip(l1,l2):
    print(i, " - ", j)

automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

#### Dictionary comprehension

In [ ]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list

d = {i : len(i) for i in l1}

print(d)

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [ ]:
word = input("Enter a word : ")
vowels = {i for i in word if i in "aeiou"}
vowels

Enter a word : aeroplane

{'a', 'e', 'o'}

<h2 style = "color:Brown">Functions</h2>

#### Ex. Write a function which takes a value as a parameter and returns its factorial

In [ ]:
def factorial(n):
    
    fact = 1
    
    for i in range(1, n+1):
        fact *= i
    
    return fact

factorial(5)

120

In [ ]:
factorial()

TypeError: factorial() missing 1 required positional argument: 'n'

#### Function Arguments

In [ ]:
def func(name, age = 35):  # default parameter
    print("name : ", name)
    print("age : ", age)

In [ ]:
func("Jane", 25)

name :  Jane
age :  25

In [ ]:
func("Jane")

name :  Jane
age :  35

In [ ]:
def func(name, age = 35, city = "New York"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
    
func("Jane", city = "Seattle") # key-word argument

name :  Jane
age :  35
city :  Seattle

In [ ]:
def var_func(*args):
    print(args)
    
var_func(1,3,"abc") # variable-length argument

(1, 3, 'abc')

<h2 style = "color:Brown"> Lambda Function

In [ ]:
# Write a lambda function to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"

f(10)

'even'

<h2 style = "color:Brown">map - filter - reduce

#### Some more examples on map - filter - reduce

In [ ]:
L1 = [2,4,5]
print(map(lambda x: x**2, L1))
print(list(map(lambda x: x**2, L1)))

<map object at 0x10d8aeb70>
[4, 16, 25]

#### Defining a function and using it in map

In [ ]:
L1 = [2,4,5]
def squareit(n):
    return n**2

print(list(map(squareit, L1)))

[4, 16, 25]

#### Filter function to return the multiples of 3

In [ ]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

#### Ex. Write a python program to count the students above age 18

In [ ]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}

len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

#### Reduce to return product of elements

In [ ]:
from functools import reduce

q  = reduce(lambda x, y: x*y, range(1,4))

print(q)