# Lambda Functions

Name less function, Anonymous Function, Without name functions

Lambda function we use to create the simple logics

In [2]:
def square(num):
    print(num*num)

In [3]:
square(10)

100

**Any variable present before the : is an input and any variable present after the : is the output**

In the below we are not giving the name to the function we are assigning the function to a variable

In [5]:
sq = lambda num:num*num

In [6]:
sq(10)

100

In [8]:
addition = lambda num1,num2:num1+num2

In [9]:
addition(10,20)

30

In [11]:
interest_calc = lambda amount,rate : amount*rate
interest_calc(1000,0.10)

100.0

In [12]:
calculation_fee = lambda amount : 5 if amount>1000 else 2

In [14]:
calculation_fee(5000)

5

In [19]:
accounts = [{'account_number':1234, 'balance':5000},
            {'account_number':4321, 'balance':2000},
            {'account_number':2222, 'balance':6000},
            {'account_number':1111, 'balance':0},
            {'account_number':2210, 'balance':10000},
            {'account_number':2013, 'balance':3000}]

In [24]:
accounts.sort(key=lambda acc:acc['balance'])

In [23]:
accounts

[{'account_number': 1111, 'balance': 0},
 {'account_number': 4321, 'balance': 2000},
 {'account_number': 2013, 'balance': 3000},
 {'account_number': 1234, 'balance': 5000},
 {'account_number': 2222, 'balance': 6000},
 {'account_number': 2210, 'balance': 10000}]

In [26]:
account_balance = [5000,4000,2000,1000,7000]
max(account_balance, key=lambda balance:balance)

7000

# Nested Function

In [29]:
def outer():
    print('Outer function is running')
    def inner():
        print('Inner function is running')
    inner()
        
outer()

Outer function is running
Inner function is running

In [33]:
def calculator():
    def add(num1,num2):
        return num1 + num2
    def sub(num1,num2):
        return num1 - num2
    def mul(num1,num2):
        return num1 * num2
    def div(num1,num2):
        return num1/num2
    
    num1 = 10
    num2 = 2
    print('Addition: ', add(num1,num2))
    print('Subtraction: ', sub(num1,num2))
    print('multiplication: ', mul(num1,num2))
    print('division: ', div(num1,num2))

In [34]:
calculator()

Addition:  12
Subtraction:  8
multiplication:  20
division:  5.0

In [35]:
def calculator(num1,num2):
    def add(num1,num2):
        return num1 + num2
    def sub(num1,num2):
        return num1 - num2
    def mul(num1,num2):
        return num1 * num2
    def div(num1,num2):
        return num1/num2
    

    print('Addition: ', add(num1,num2))
    print('Subtraction: ', sub(num1,num2))
    print('multiplication: ', mul(num1,num2))
    print('division: ', div(num1,num2))

In [36]:
calculator(10,2)

Addition:  12
Subtraction:  8
multiplication:  20
division:  5.0

In [38]:
def check_voting_eligibility(age):
    def is_eligible():
        return age>=18
    
    if is_eligible():
        print('You are eligible for voting')
    else:
        print('You are not eligible for voting')
        
check_voting_eligibility(35)

You are eligible for voting

In [39]:
def currency_convertor(amount,rate):
    def apply_conversion():
        return amount * rate
    converted_currency = apply_conversion()
    print('Converted amount: ', converted_currency)

In [40]:
currency_convertor(1000,81)

Converted amount:  81000

In [115]:
import random

def generate_captcha():
    def generate_captcha_digits():
        return random.randint(0,9)
    
    def generate_captcha_letter():
        return chr(random.randint(97,122))
    
    captcha = ""
    for i in range(0,6):
        if random.choice(['Number','Alphabet']) == 'Number':
            captcha = captcha+str(generate_captcha_digits())
        else:
            captcha = captcha+generate_captcha_letter()
            
    print('Generated Captcha: ', captcha)

In [157]:
generate_captcha()

Generated Captcha:  t1m288

In [52]:
import random
random.randint(0,9)

6

In [55]:
chr(random.randint(97,122))

'i'

In [113]:
random.choice(['Kia','Hyundai','Honda','Maruti'])

'Hyundai'

In [158]:
list1 = ['Kia','Hyundai','Honda','Maruti']
list2 = []
for i in list1:
    list2.append(len(i))

In [159]:
list2

[3, 7, 5, 6]

In [160]:
l2 = [len(i) for i in list1]

In [161]:
l2

[3, 7, 5, 6]

In [162]:
d1 = {i : len(i) for i in list1}

In [163]:
d1

{'Kia': 3, 'Hyundai': 7, 'Honda': 5, 'Maruti': 6}

**Filter()** - filter(function, list) - It will take two inputs one is the UDF (User defined function) and second is one list, or tuple, or set. If we are passing lets say 5 values it will give me 5 or less than 5 values. 


**Map()** - map(function,list) - It will take two inputs one is the UDF and other is the list, tuple, set. If we pass 5 values in the map function it will always return 5 values


**Reduce()** - reduce(function, list) - It will take two inputs one is the UDF and other is the list, tuple, set etc. If we pass 5 values in the reduce it will return 1 value

In [165]:
list_num = [10,11,14,21,23,25,16]

list(filter(lambda x:x%2==0,list_num))

[10, 14, 16]

In [166]:
accounts = [{'account_number':1234, 'balance':5000},
            {'account_number':4321, 'balance':2000},
            {'account_number':2222, 'balance':6000},
            {'account_number':1111, 'balance':0},
            {'account_number':2210, 'balance':10000},
            {'account_number':2013, 'balance':3000}]

list(filter(lambda acc:acc['balance']>5000, accounts))

[{'account_number': 2222, 'balance': 6000},
 {'account_number': 2210, 'balance': 10000}]

In [167]:
list_num

[10, 11, 14, 21, 23, 25, 16]

In [170]:
def double(x):
    return 2*x

In [172]:
list(map(lambda x:x*2,list_num))

[20, 22, 28, 42, 46, 50, 32]

In [171]:
list(map(double,list_num))

[20, 22, 28, 42, 46, 50, 32]

In [175]:
account_balance
interest_rate = 0.05

calculate_interest = lambda balance : balance * interest_rate
list(map(calculate_interest,account_balance))

[250.0, 200.0, 100.0, 50.0, 350.0]

In [176]:
account_balance

[5000, 4000, 2000, 1000, 7000]

In [177]:
print(calculate_interest)

<function <lambda> at 0x0000019875B5A520>

In [178]:
list_num

[10, 11, 14, 21, 23, 25, 16]

In [179]:
sum(list_num)

120

In [181]:
from functools import *
reduce(lambda x,y:x+y, list_num)

120

In [182]:
list_num

[10, 11, 14, 21, 23, 25, 16]

In [183]:
account_balance = [1000,2000,3000,-4000,-1000,10000]
reduce(lambda acc1,acc2:acc1+acc2, account_balance)

11000

In [184]:
reduce(lambda acc1, acc2 : max(acc1,acc2), account_balance)

10000

In [188]:
account_balance = [1000,2000,3000,4000,1000,10000]
print(account_balance)
interest_rate = 0.05
accumulated_interest = lambda acc1,acc2 : acc1 + (acc2 * interest_rate)
total_interest = reduce(accumulated_interest,account_balance,0)
print('Total Interest: ', total_interest)

[1000, 2000, 3000, 4000, 1000, 10000]
Total Interest:  1050.0

**The End**