# Flow Control

**If and Else** - Based on the satisfying conditions we can get the output 

if condition:


    Perform the task if the above condition is satisfied
else:
    
    Perform the task if the above else condition is statisfied

In [7]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
    print('Hi')
else:
    print('You passed the exam')
print('Hello')

Enter the marks: 45
You passed the exam
Hello

In [10]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
elif marks>=40 and marks<=60:
    print('You got an average marks')
else:
    print('You got an excellent marks')

Enter the marks: 67
You got an excellent marks

**Calculate the tax of an employee**

In [15]:
salary = int(input('Enter the salary: '))
if salary<=2500:
    print('The total tax amount you have to pay is: ', salary*0)
elif salary>2500 and salary<=5000:
    print('The total tax amount you have to pay is: ', salary*0.05)
elif salary>5000 and salary<=10000:
    print('The total tax amount you have to pay is: ', salary*0.10)
elif salary>10000 and salary<=15000:
    print('The total tax amount you have to pay is: ', salary*0.15)
else:
    print('The total tax amount you have to pay is: ', salary*0.20)

Enter the salary: 20000
The total tax amount you have to pay is:  4000.0

**Transaction Fee Calculator - Nested If else**

In [24]:
Transaction_Type = input('What type of transaction you want to do: ')
Transaction_Amount = int(input('What is the transaction amount: '))
if Transaction_Type.lower()== 'withdraw':
    if Transaction_Amount<1000:
        Transaction_Fee = 2
    elif Transaction_Amount>=1000:
        Transaction_Fee = 5
elif Transaction_Type.lower()=='deposit':
    Transaction_Fee = 0 
else:
    print('Please pass the correct option')

Total_Amount = Transaction_Amount+Transaction_Fee
print('Total Amount: ', Total_Amount)

What type of transaction you want to do: Rahul
What is the transaction amount: 10000
Please pass the correct option
Total Amount:  10000

**For Loops** - When you want to iterate on something i.e. Lists, Tuples, Sets, Strings, Arrays and so on..

In the for loop we are aware how many times the loop will run

In [ ]:
for i in something: 
    getoutput

In [25]:
company = 'Upgrad'
for i in company:
    print(i)

U
p
g
r
a
d

In [38]:
sales = [3454,3443,2333,2212]
profit = [444,233,445,333]
for i in range(0,len(sales)):
    print(profit[i]/sales[i])

0.12854661262304573
0.067673540516991
0.19074153450492928
0.15054249547920434

In [34]:
list(range(10,4,-1))

[10, 9, 8, 7, 6, 5]

In [37]:
list(range(0,len(sales)))

[0, 1, 2, 3]

In [42]:
Transaction_History = [50, -20, 100, -30, -10]

for i in Transaction_History:
    if i>0:
        print('Deposit: ', i)
    else:
        print('Withdraw: ', abs(i))

Deposit:  50
Withdraw:  20
Deposit:  100
Withdraw:  30
Withdraw:  10

In [44]:
Account_balance = [1000,2000,-2500,1000,4000,-5000,6000]

Total_Balance = 0 
for i in Account_balance:
    Total_Balance = Total_Balance+i
print(Total_Balance)

6500

In [46]:
Account_balance = [1000,2000,1000,4000,6000]
Interest_Rate = 0.05

for i in range(len(Account_balance)):
    interest = Interest_Rate*Account_balance[i]
    Account_balance[i] = Account_balance[i]+interest

print('Updated account Balance: ', Account_balance)

Updated account Balance:  [1050.0, 2100.0, 1050.0, 4200.0, 6300.0]

In [48]:
Account_Numbers = [123456, 345678, 789012, 901234]
account_to_close = int(input('Enter the account to close: ')) 

for i in Account_Numbers:
    if i==account_to_close:
        print('Closing the account: ', i)
        Account_Numbers.remove(i)
        break
print('Remaining accounts: ', Account_Numbers)

Enter the account to close: 901234
Closing the account:  901234
Remaining accounts:  [123456, 345678, 789012]

In [49]:
account_transactions = [{'date':'2023-07-01', 'type':'Deposit', 'amount': 100},
                        {'date':'2023-07-02', 'type':'Withdraw', 'amount': 50},
                        {'date':'2023-07-03', 'type':'Deposit', 'amount': 200},
                        {'date':'2023-07-04', 'type':'Withdraw', 'amount': 75}]

In [54]:
print('Account Statement')
for i in account_transactions:
    print(i['date'], "-", i['type'], "-", i['amount'])

Account Statement
2023-07-01 - Deposit - 100
2023-07-02 - Withdraw - 50
2023-07-03 - Deposit - 200
2023-07-04 - Withdraw - 75

In [55]:
transaction_date = ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04']
transaction_type = ['Deposit', 'Withdraw', 'Deposit', 'Withdraw']
transaction_amount = [100,50,200,75]

In [56]:
for (td,tt,ta) in zip(transaction_date,transaction_type,transaction_amount):
    print(td,'-',tt,'-',ta)

2023-07-01 - Deposit - 100
2023-07-02 - Withdraw - 50
2023-07-03 - Deposit - 200
2023-07-04 - Withdraw - 75

**While Loops** - The loop will run till the time the condition is satisfied

In [ ]:
while condition:
    getoutput

In [57]:
while 1==2:
    print('Hi')

In [ ]:
#This will go to an infinite loop
while 1==1:
    print('Hi')

In [58]:
coupouns = 5
utilized = 0 

while utilized<coupouns:
    print('There are total: ', coupouns-utilized, 'coupouns left')
    utilized = utilized + 1
print('There are no coupouns left')

There are total:  5 coupouns left
There are total:  4 coupouns left
There are total:  3 coupouns left
There are total:  2 coupouns left
There are total:  1 coupouns left
There are no coupouns left

In [62]:
number = int(input('Enter the number: '))

if number<0:
    print('There is no factorial of a negative number')
else:
    result = 1 
    while number>=1:
        result = result*number
        number = number-1
    print(result)

Enter the number: 5
120

In [64]:
correct_pin = 2222
max_attempts = 3
attempts_left = 0 

while attempts_left<max_attempts:
    pin = int(input('Enter your pin: '))
    if pin==correct_pin:
        print('Pin accepted, access granted')
        break
    else:
        attempts_left=attempts_left+1
        print('Incorrect pin, attempts remaining: ', max_attempts-attempts_left)
        
if attempts_left==max_attempts:
    print('max attempts reached, access denied')

Enter your pin: 1111
Incorrect pin, attempts remaining:  2
Enter your pin: 2212
Incorrect pin, attempts remaining:  1
Enter your pin: 0000
Incorrect pin, attempts remaining:  0
max attempts reached, access denied

In [96]:
import random
existing_account_numbers = [1,5,7,9]
new_account_number = random.randint(1,9)

while new_account_number in existing_account_numbers:
    new_account_number = random.randint(1,9)
    
existing_account_numbers.append(new_account_number)
print('Account Created successfully, account number: ', new_account_number)
print('Account Created successfully, account number: ', existing_account_numbers)

Account Created successfully, account number:  6
Account Created successfully, account number:  [1, 5, 7, 9, 6]

In [102]:
investment_amount = int(input('Enter the amount you need to invest: '))
interest_rate = float(input('Enter the interest rate: '))
duration = int(input('Enter the total months for which you want to invest: '))
final_duration = duration
while duration>=1:
    interest = investment_amount * interest_rate
    investment_amount = investment_amount + interest
    duration = duration-1
    
print('Final account balance: ', investment_amount, 'after ', final_duration, 'months')

Enter the amount you need to invest: 500000
Enter the interest rate: 0.10
Enter the total months for which you want to invest: 48
Final account balance:  48508616.8924361 after  48 months

# **The End**