# **Flow Control**

**if else conditions**

Its a conditional based statements where if the condition is satisfied it will give one output and if it is not statisfied it will give another output

if marks<40 --> Failed the exam 
if marks>=40 --> Passed the exam

**Syntax**

if condition==True: 

    print('Condition is True') ('The space before print is known as Tab indentation', this is mandatory) 
    IndentationError: expected an indented block after 'if' statement on line 2
    
else:

    print('Condition is False')

In [10]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
    print('Hi')
else:
    print('You passed the exam')
    print('Hello')

Enter the marks: 56
You passed the exam
Hello

In [13]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
elif marks>=40 and marks<=60:
    print('You got an avg marks')
else:
    print('You got an excellent marks')

Enter the marks: 65
You got an excellent marks

In [19]:
salary = int(input('Enter the salary: '))

if salary<=2500:
    print('You have to pay the total tax: ', salary*0)
elif salary>2500 and salary<=5000:
    print('You have to pay the total tax: ', salary*0.05)
elif salary>5000 and salary<=10000:
    print('You have to pay the total tax: ', salary*0.10)
else:
    print('You have to pay the total tax: ', salary*0.20)

Enter the salary: 15000
You have to pay the total tax:  3000.0

In [23]:
transaction_type = input('Enter the transaction type: ')
transaction_amount = int(input('Enter the amount: '))

if transaction_type=='withdraw':
    if transaction_amount>1000:
        transaction_fee = 5
    else:
        transaction_fee=2
elif transaction_type=='Deposit':
    transaction_fee=0
    
total_amount = transaction_amount-transaction_fee
print('Total Amount: ', total_amount)

Enter the transaction type: Deposit
Enter the amount: 5000
Total Amount:  5000

# **For Loops**

**For loop is nothing but when we want to iterate on something**

In [26]:
students = ['A','B','C','D','E']

for i in [0,1,2,3,4]:
    print(i)

0
1
2
3
4

In [30]:
for i in [0,1,2,3,4]:
    print('Good Evening',students[i])

Good Evening A
Good Evening B
Good Evening C
Good Evening D
Good Evening E

In [29]:
for i in students:
    print('Good Evening',i)

Good Evening A
Good Evening B
Good Evening C
Good Evening D
Good Evening E

In [34]:
sales = [4544,2334,5553,2323]
profit = [343,555,444,232]
for i in [0,1,2,3]:
    print(profit[i]/sales[i])

0.07548415492957747
0.2377892030848329
0.07995678011885467
0.09987085665088248

In [38]:
sales = [4544,2334,5553,2323]
profit = [343,555,444,232]
for i in range(0,len(sales)):
    print(profit[i]/sales[i])

0.07548415492957747
0.2377892030848329
0.07995678011885467
0.09987085665088248

In [41]:
list(range(0,len(sales)))

[0, 1, 2, 3]

In [42]:
marks = [34,55,44,33,44,33,22,44,66,77]
for i in marks:
    if i<40:
        print('you failed the exam')
    else:
        print('you passed the exam')

you failed the exam
you passed the exam
you passed the exam
you failed the exam
you passed the exam
you failed the exam
you failed the exam
you passed the exam
you passed the exam
you passed the exam

In [43]:
marks = [34,55,44,33,44,33,22,44,66,77]
for i in range(0,len(marks)):
    if marks[i]<40:
        print('you failed the exam')
    else:
        print('you passed the exam')

you failed the exam
you passed the exam
you passed the exam
you failed the exam
you passed the exam
you failed the exam
you failed the exam
you passed the exam
you passed the exam
you passed the exam

In [47]:
transaction_history = [50,-20,100,-30,-10]
print('Transaction History')
for i in transaction_history:
    if i<0:
        print('Withdraw: ', abs(i))
    else:
        print('Deposit: ', i)

Transaction History
Deposit:  50
Withdraw:  20
Deposit:  100
Withdraw:  30
Withdraw:  10

In [48]:
account_balances = [1000,2000,-3000,4000,2000,-3000]

final_balance = 0 
for i in account_balances:
    final_balance=final_balance+i
print(final_balance)

3000

In [50]:
account_numbers = [123456,234567,345678,901234]

account_to_close = int(input('Enter the account to close: ')) 

for i in account_numbers:
    if i == account_to_close:
        print('Closing account: ', i)
        account_numbers.remove(i)
        break
    else:
        print('Account not found')
        
print('Remaining accounts: ', account_numbers)

Enter the account to close: 901234
Account not found
Account not found
Account not found
Closing account:  901234
Remaining accounts:  [123456, 234567, 345678]

In [52]:
account_numbers = [123456,234567,345678,901234]

account_to_close = int(input('Enter the account to close: ')) 

for i in account_numbers:
    if i == account_to_close:
        print('Closing account: ', i)
        account_numbers.remove(i)
        break

        
print('Remaining accounts: ', account_numbers)

Enter the account to close: 901234
Closing account:  901234
Remaining accounts:  [123456, 234567, 345678]

In [53]:
account_transactions = [{"date":"2023-07-01", "type":"Deposit", "amount":100},
                        {"date":"2023-07-02", "type":"Withdraw", "amount":50},
                        {"date":"2023-07-03", "type":"Deposit", "amount":200},
                        {"date":"2023-07-04", "type":"Withdraw", "amount":75}]

In [60]:
print('Account Statement')
for i in account_transactions:
    print(i['date'], "--", i['type'], "--", i['amount'])

Account Statement
2023-07-01 -- Deposit -- 100
2023-07-02 -- Withdraw -- 50
2023-07-03 -- Deposit -- 200
2023-07-04 -- Withdraw -- 75

In [65]:
transaction_date = ["2023-07-01","2023-07-02","2023-07-03","2023-07-04"]
transaction_type = ["Deposit","Withdraw","Deposit","Withdraw"]
transaction_amount = [100,50,200,75]

In [66]:
print('Account Statement')
for (td,tt,ta) in zip(transaction_date,transaction_type,transaction_amount):
    print(td,"--",tt,"--",ta)

Account Statement
2023-07-01 -- Deposit -- 100
2023-07-02 -- Withdraw -- 50
2023-07-03 -- Deposit -- 200
2023-07-04 -- Withdraw -- 75

# **While Loops**

In [67]:
#while True:
#    print('Hi')

In [69]:
while False:
    print('Hi')
print('Hello')

Hello

In [70]:
coupouns = 5
utilized = 0 

while utilized<coupouns:
    print('Total coupouns left are: ', coupouns-utilized)
    utilized=utilized+1
print('No coupouns left')

Total coupouns left are:  5
Total coupouns left are:  4
Total coupouns left are:  3
Total coupouns left are:  2
Total coupouns left are:  1
No coupouns left

In [74]:
number = int(input('Enter the number: '))
if number<0:
    print('There is no factorical of a negative number')
else:
    result = 1
    while number>0:
        result = result*number
        number=number-1
    print(result)

Enter the number: 5
120

In [78]:
correct_pin = 1234
max_attempts = 3 
attempts = 0 

while attempts<max_attempts:
    pin = int(input('Enter your pin: '))
    if pin == correct_pin:
        print('Pin accepted, access granted')
        break
    else:
        attempts=attempts+1
        print('Incorrect Pin, attempts remaining: ', max_attempts-attempts)
        
if attempts==max_attempts:
    print('Max Attempts reached, access denied')

Enter your pin: 1234
Pin accepted, access granted