In [1]:
import os

In [2]:
import pandas as pd

In [3]:
os.chdir(r'C:\Users\rahul\Downloads\Data-20230916T024120Z-001\Data')

In [5]:
df_1 = pd.read_csv('AdventureWorks_Returns.csv')

In [7]:
df_2 = pd.read_csv('AdventureWorks_Products.csv')

In [8]:
df_3 = pd.read_csv('AdventureWorks_Product_Subcategories.csv')

In [9]:
df_4 = pd.read_csv('AdventureWorks_Product_Categories.csv')

In [10]:
df_5= pd.read_csv('AdventureWorks_Territories.csv')

In [11]:
df_1

     ReturnDate  TerritoryKey  ProductKey  ReturnQuantity
0     1/18/2015             9         312               1
1     1/18/2015            10         310               1
2     1/21/2015             8         346               1
3     1/22/2015             4         311               1
4      2/2/2015             6         312               1
...         ...           ...         ...             ...
1804  6/30/2017             6         491               1
1805  6/30/2017             8         477               1
1806  6/30/2017             9         477               1
1807  6/30/2017            10         223               1
1808  6/30/2017            10         477               1

[1809 rows x 4 columns]

In [12]:
df_2

,ProductKey,ProductSubcategoryKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,ProductSize,ProductStyle,ProductCost,ProductPrice
0,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,34.9900
1,215,31,HL-U509,"Sport-100 Helmet, Black",Sport-100,"Universal fit, well-vented, lightweight , snap...",Black,0,0,12.0278,33.6442
2,218,23,SO-B909-M,"Mountain Bike Socks, M",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,M,U,3.3963,9.5000
3,219,23,SO-B909-L,"Mountain Bike Socks, L",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,L,U,3.3963,9.5000
4,220,31,HL-U509-B,"Sport-100 Helmet, Blue",Sport-100,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,12.0278,33.6442
...,...,...,...,...,...,...,...,...,...,...,...
288,602,5,BB-8107,ML Bottom Bracket,ML Bottom Bracket,Aluminum alloy cups; large diameter spindle.,NaN,0,0,44.9506,101.2400
289,603,5,BB-9108,HL Bottom Bracket,HL Bottom Bracket,Aluminum alloy cups and a hollow axle.,NaN,0,0,53.9416,121.4900
290,604,2,BK-R19B-44,"Road-750 Black, 44",Road-750,Entry level adult bike; offers a comfortable r...,Black,44,U,343.6496,539.9900
291,605,2,BK-R19B-48,"Road-750 Black, 48",Road-750,Entry level adult bike; offers a comfortable r...,Black,48,U,343.6496,539.9900
292,606,2,BK-R19B-52,"Road-750 Black, 52",Road-750,Entry level adult bike; offers a comfortable r...,Black,52,U,343.6496,539.9900

In [13]:
df_3

    ProductSubcategoryKey    SubcategoryName  ProductCategoryKey
0                       1     Mountain Bikes                   1
1                       2         Road Bikes                   1
2                       3      Touring Bikes                   1
3                       4         Handlebars                   2
4                       5    Bottom Brackets                   2
5                       6             Brakes                   2
6                       7             Chains                   2
7                       8          Cranksets                   2
8                       9        Derailleurs                   2
9                      10              Forks                   2
10                     11           Headsets                   2
11                     12    Mountain Frames                   2
12                     13             Pedals                   2
13                     14        Road Frames                   2
14                     15            Saddles                   2
15                     16     Touring Frames                   2
16                     17             Wheels                   2
17                     18         Bib-Shorts                   3
18                     19               Caps                   3
19                     20             Gloves                   3
20                     21            Jerseys                   3
21                     22             Shorts                   3
22                     23              Socks                   3
23                     24             Tights                   3
24                     25              Vests                   3
25                     26         Bike Racks                   4
26                     27        Bike Stands                   4
27                     28  Bottles and Cages                   4
28                     29           Cleaners                   4
29                     30            Fenders                   4
30                     31            Helmets                   4
31                     32    Hydration Packs                   4
32                     33             Lights                   4
33                     34              Locks                   4
34                     35           Panniers                   4
35                     36              Pumps                   4
36                     37    Tires and Tubes                   4

In [14]:
df_4

   ProductCategoryKey CategoryName
0                   1        Bikes
1                   2   Components
2                   3     Clothing
3                   4  Accessories

In [15]:
df_5

   SalesTerritoryKey          Region         Country      Continent
0                  1       Northwest   United States  North America
1                  2       Northeast   United States  North America
2                  3         Central   United States  North America
3                  4       Southwest   United States  North America
4                  5       Southeast   United States  North America
5                  6          Canada          Canada  North America
6                  7          France          France         Europe
7                  8         Germany         Germany         Europe
8                  9       Australia       Australia        Pacific
9                 10  United Kingdom  United Kingdom         Europe

In [18]:
Product = pd.merge(pd.merge(df_2,df_3,on='ProductSubcategoryKey'),df_4,on='ProductCategoryKey')

In [19]:
Product

,ProductKey,ProductSubcategoryKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,ProductSize,ProductStyle,ProductCost,ProductPrice,SubcategoryName,ProductCategoryKey,CategoryName
0,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,34.9900,Helmets,4,Accessories
1,215,31,HL-U509,"Sport-100 Helmet, Black",Sport-100,"Universal fit, well-vented, lightweight , snap...",Black,0,0,12.0278,33.6442,Helmets,4,Accessories
2,220,31,HL-U509-B,"Sport-100 Helmet, Blue",Sport-100,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,12.0278,33.6442,Helmets,4,Accessories
3,446,35,PA-T100,"Touring-Panniers, Large",Touring-Panniers,"Durable, water-proof nylon construction with e...",Grey,0,0,51.5625,125.0000,Panniers,4,Accessories
4,447,34,LO-C100,Cable Lock,Cable Lock,"Wraps to fit front and rear tires, carrier and...",NaN,0,0,10.3125,25.0000,Locks,4,Accessories
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,577,3,BK-T44U-46,"Touring-2000 Blue, 46",Touring-2000,The plush custom saddle keeps you riding all d...,Blue,46,U,755.1508,1214.8500,Touring Bikes,1,Bikes
289,578,3,BK-T44U-50,"Touring-2000 Blue, 50",Touring-2000,The plush custom saddle keeps you riding all d...,Blue,50,U,755.1508,1214.8500,Touring Bikes,1,Bikes
290,579,3,BK-T44U-54,"Touring-2000 Blue, 54",Touring-2000,The plush custom saddle keeps you riding all d...,Blue,54,U,755.1508,1214.8500,Touring Bikes,1,Bikes
291,585,3,BK-T18U-44,"Touring-3000 Blue, 44",Touring-3000,All-occasion value bike with our basic comfort...,Blue,44,U,461.4448,742.3500,Touring Bikes,1,Bikes
292,586,3,BK-T18U-50,"Touring-3000 Blue, 50",Touring-3000,All-occasion value bike with our basic comfort...,Blue,50,U,461.4448,742.3500,Touring Bikes,1,Bikes

In [22]:
ret_prod = pd.merge(Product,df_1,on='ProductKey')

In [23]:
df_5

   SalesTerritoryKey          Region         Country      Continent
0                  1       Northwest   United States  North America
1                  2       Northeast   United States  North America
2                  3         Central   United States  North America
3                  4       Southwest   United States  North America
4                  5       Southeast   United States  North America
5                  6          Canada          Canada  North America
6                  7          France          France         Europe
7                  8         Germany         Germany         Europe
8                  9       Australia       Australia        Pacific
9                 10  United Kingdom  United Kingdom         Europe

In [26]:
final_table = pd.merge(ret_prod,df_5,left_on='TerritoryKey',right_on='SalesTerritoryKey')

In [24]:
ret_prod

,ProductKey,ProductSubcategoryKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,ProductSize,ProductStyle,ProductCost,ProductPrice,SubcategoryName,ProductCategoryKey,CategoryName,ReturnDate,TerritoryKey,ReturnQuantity
0,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,34.99,Helmets,4,Accessories,8/14/2016,8,1
1,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,34.99,Helmets,4,Accessories,8/21/2016,1,1
2,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,34.99,Helmets,4,Accessories,8/21/2016,8,1
3,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,34.99,Helmets,4,Accessories,8/24/2016,9,1
4,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,34.99,Helmets,4,Accessories,9/6/2016,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804,578,3,BK-T44U-50,"Touring-2000 Blue, 50",Touring-2000,The plush custom saddle keeps you riding all d...,Blue,50,U,755.1508,1214.85,Touring Bikes,1,Bikes,5/10/2017,1,1
1805,578,3,BK-T44U-50,"Touring-2000 Blue, 50",Touring-2000,The plush custom saddle keeps you riding all d...,Blue,50,U,755.1508,1214.85,Touring Bikes,1,Bikes,6/1/2017,8,1
1806,579,3,BK-T44U-54,"Touring-2000 Blue, 54",Touring-2000,The plush custom saddle keeps you riding all d...,Blue,54,U,755.1508,1214.85,Touring Bikes,1,Bikes,5/24/2017,9,1
1807,586,3,BK-T18U-50,"Touring-3000 Blue, 50",Touring-3000,All-occasion value bike with our basic comfort...,Blue,50,U,461.4448,742.35,Touring Bikes,1,Bikes,12/1/2016,7,1
1808,586,3,BK-T18U-50,"Touring-3000 Blue, 50",Touring-3000,All-occasion value bike with our basic comfort...,Blue,50,U,461.4448,742.35,Touring Bikes,1,Bikes,6/20/2017,8,1

In [28]:
final_table.to_csv('mydata.csv')