# Flow Control

**If and Else - Based on the satisfied condition we get the output**

In [1]:
if condition:
    getoutput
else:
    getanotheroutput

IndentationError: expected an indented block (856784034.py, line 2)

**The gap is known as Tab indentation and it is mandatory, if we are not giving this gap we will get the IndentationError: expected an indented block**

**In the below code we will get Hi only when we fail the exam**

In [13]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
    print('Hi')
else:
    print('You passed the exam')

Enter the marks: 32
You failed the exam
Hi

**If we pass the exam then only we will get Hi**

In [15]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
else:
    print('You passed the exam')
    print('Hi')

Enter the marks: 34
You failed the exam

**If we pass or fail Hi will always run, because it is outside the if else condition**

In [17]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
else:
    print('You passed the exam')
print('Hi')

Enter the marks: 34
You failed the exam
Hi

**Hi will print as it is outside if else condition**

In [23]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
print('Hi')

Enter the marks: 49
Hi

**We cannot write multiple else, however we have the elif, this we can write mutiple times, in between if and else we can have any number of elif's**

In [21]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
elif marks>=40 and marks<=60:
    print('You got an average marks')
else:
    print('You got an excellent marks')

Enter the marks: 76
You got an excellent marks

**Banking Examples**

1) Account Balance Check

In [25]:
account_balance = int(input('Enter the account balance: '))
if account_balance>=0:
    print('Your account is in good standing')
else:
    print('Your account balance is negative, please take action')

Enter the account balance: -1
Your account balance is negative, please take action

2) Loan Eligibility

In [28]:
income = int(input('Enter the income: '))
credit_score = int(input('Enter the credit score: '))
if income>50000 and credit_score>700:
    print('You are eligible for the loan, congratulations!!!')
else:
    print('You are not eligible for the loan, you can try next time!!!')

Enter the income: 56000
Enter the credit score: 800
You are eligible for the loan, congratulations!!!

3) Withdrawal limit check

In [30]:
daily_limit = 1000
withdrawal_amount = int(input('Enter the amount you want to withdraw: '))
if withdrawal_amount<=daily_limit:
    print('Withdrawal successful')
else:
    print('Withdrawal amount exceeds the daily limit')

Enter the amount you want to withdraw: 1000
Withdrawal successful

4) Calculate the tax

In [35]:
income = int(input('Enter the income: '))
if income<=2000:
    print('The total tax you have to pay is: ', income*0)
elif income>2000 and income<=5000:
    print('The total tax you have to pay is: ', income*0.05)
elif income>5000 and income<=10000:
    print('The total tax you have to pay is: ', income*0.10)
elif income>10000 and income<=15000:
    print('The total tax you have to pay is: ', income*0.15)
else:
    print('The total tax you have to pay is: ', income*0.20)

Enter the income: 20000
The total tax you have to pay is:  4000.0

5) Transaction Fees - Nested if else

In [56]:
transaction_amount = int(input('Enter the transaction amount: '))
transaction_type = input('What is the transaction type: ')
transaction_fee = 0

if transaction_type=='Withdrawal':
    if transaction_amount<=1000:
        transaction_fee = 2
    else:
        transaction_fee = 5
elif transaction_type=='Deposit':
    transaction_fee = 0
else:
    print('Please pass the correct option')
    
total_amount = transaction_amount+transaction_fee
print('The total amount is: ',total_amount)

Enter the transaction amount: 122
What is the transaction type: d
Please pass the correct option
The total amount is:  122

In [45]:
transaction_amount = int(input('Enter the transaction amount: '))
transaction_type = input('What is the transaction type: ')
transaction_fee = 0

if transaction_type=='Withdrawal':
    if transaction_amount<=1000:
        transaction_fee = 2
    else:
        transaction_fee = 5
elif transaction_type=='Deposit':
    transaction_fee = 0
else:
    print('The transaction fee will not be there, and no transaction will happen, we will pass transaction fee as 0')
    
total_amount = transaction_amount+transaction_fee
print('The total amount is: ',total_amount)

Enter the transaction amount: 111
What is the transaction type: dd
The transaction fee will not be there, and no transaction will happen, we will pass transaction fee as 0
The total amount is:  111

In [58]:
transaction_amount = int(input('Enter the transaction amount: '))
transaction_type = input('What is the transaction type: ')
#transaction_fee = 0

if transaction_type=='Withdrawal':
    if transaction_amount<=1000:
        transaction_fee = 2
        total_amount = transaction_amount+transaction_fee
    else:
        transaction_fee = 5
        total_amount = transaction_amount+transaction_fee
elif transaction_type=='Deposit':
    transaction_fee = 0
    total_amount = transaction_amount+transaction_fee
else:
    print(transaction_amount)
#del total_amount
print(total_amount)

Enter the transaction amount: 1000
What is the transaction type: sdf
1000

NameError: name 'total_amount' is not defined

# For Loops

**For loops - When we want to iterate on something, string, lists, Tuples, sets etc**

In [61]:
for i in list(range(0,5)):
    print(i)

0
1
2
3
4

In [63]:
for i in ['James', 'John', 'Steven','Clara', 'Anderson']:
    print(i)

James
John
Steven
Clara
Anderson

In [70]:
for i in 'upgrad':
    print(i,end=' ')

u p g r a d

In [65]:
for i in ['upgrad']:
    print(i)

upgrad

In [66]:
for i in list(range(0,5)):
    print(i+10)

10
11
12
13
14

In [69]:
print('Hi',end=' ')
print('Hello',end='\n')

Hi Hello

In [71]:
sales = [3453,1233,3433,2233]
profit = [443,222,444,322]
for i in range(0,len(sales)):
    print(profit[i]/sales[i])

0.12829423689545322
0.18004866180048662
0.12933294494611128
0.14420062695924765

**Banking Examples**

1) Transaction History

In [74]:
transaction_history = [50, -20, 100, -30, -10]
for i in transaction_history:
    if i>0:
        print('Deposit: ', i)
    else:
        print('Withdrawal: ',abs(i))

Deposit:  50
Withdrawal:  20
Deposit:  100
Withdrawal:  30
Withdrawal:  10

2) Account Summation

In [75]:
account_balances = [1000,2000,3000,5000,4000,2000,1000]
total_balance = 0 
for i in account_balances:
    total_balance = total_balance + i

print('Total account balance: ', total_balance)

Total account balance:  18000

3) Interest Calculations

In [76]:
account_balances = [1000,2000,3000,4000,3000]
interest_rate = 0.05
for i in range(len(account_balances)):
    interest = account_balances[i] * interest_rate
    account_balances[i]+=interest
print('Updated account balances: ', account_balances)

Updated account balances:  [1050.0, 2100.0, 3150.0, 4200.0, 3150.0]

4) Account Closure

In [77]:
account_numbers = [123456, 789012, 345678, 901234]
account_to_close = int(input('Enter the account you want to close: ')) 

for i in account_numbers:
    if account_to_close==i:
        print('Closing account: ', i)
        account_numbers.remove(i)
        break
    else:
        print('Account not found')
print('Remaining accounts: ', account_numbers)

Enter the account you want to close: 222222
Account not found
Account not found
Account not found
Account not found
Remaining accounts:  [123456, 789012, 345678, 901234]

In [79]:
account_numbers = [123456, 789012, 345678, 901234]
account_to_close = int(input('Enter the account you want to close: ')) 

for i in account_numbers:
    if account_to_close==i:
        print('Closing account: ', i)
        account_numbers.remove(i)
        break

print('Remaining accounts: ', account_numbers)

Enter the account you want to close: 345678
Closing account:  345678
Remaining accounts:  [123456, 789012, 901234]

5) Account Statement

In [80]:
account_transactions = [{"date":"2023-07-01","type":"Deposit","amount":100},
                        {"date":"2023-07-02","type":"Withdrawal","amount":50},
                        {"date":"2023-07-03","type":"Deposit","amount":200},
                        {"date":"2023-07-04","type":"Withdrawal","amount":75}]

In [81]:
print('Account Statement')
for i in account_transactions:
    print(i['date'], '-', i['type'], '-', i['amount'])

Account Statement
2023-07-01 - Deposit - 100
2023-07-02 - Withdrawal - 50
2023-07-03 - Deposit - 200
2023-07-04 - Withdrawal - 75

In [84]:
transaction_date = ['2023-07-01','2023-07-02','2023-07-03','2023-07-04']
transaction_type = ['Deposit','Withdrawal','Deposit','Withdrawal']
transaction_amount = [100,50,200,75]
print('Account Statement')
for (td,tt,ta) in zip(transaction_date,transaction_type,transaction_amount):
    print(td, '-', tt, '-', ta)

Account Statement
2023-07-01 - Deposit - 100
2023-07-02 - Withdrawal - 50
2023-07-03 - Deposit - 200
2023-07-04 - Withdrawal - 75