# Python Collection Data Types or Data Structures

**Lists**

**Tuples**

**Sets**

**Dictionaries**

# Lists

**When we have to store the multiple values**

**Properties of the lists**

**1) Duplicates are allowed**

**2) Heterogeneous Data Allowed - Any type of datatype in a single list**

**3) Mutable in Nature - Edit the values in a list**

**4) Lists are created using the square bracket only**

**5) Growable in nature**

In [56]:
ages = [21,22,44,33,22,11,21,44,33,12,11,22]

**When we are using function we have to use () normal brackets only**

In [9]:
type(ages)

list

In [11]:
len(ages)

12

In [4]:
sum(ages)

296

In [5]:
sum(ages)/len(ages)

24.666666666666668

In [6]:
min(ages)

11

In [7]:
max(ages)

44

**Slicing - We have to use Square brackets only**

In [12]:
ages

[21, 22, 44, 33, 22, 11, 21, 44, 33, 12, 11, 22]

In [13]:
ages[4]

22

In [14]:
ages[-8]

22

In [15]:
ages[1:5]

[22, 44, 33, 22]

In [16]:
ages[5:1]

[]

In [17]:
ages[1:-8]

[22, 44, 33]

In [18]:
ages[-8:3]

[]

In [19]:
ages[-8:8]

[22, 11, 21, 44]

In [20]:
ages[1:8:2]

[22, 33, 11, 44]

In [21]:
ages[:5:-1]

[22, 11, 12, 33, 44, 21]

In [22]:
ages[5::-1]

[11, 22, 33, 44, 22, 21]

**Heterogeneous Data - Any type of datatype**

In [23]:
list1 = ['A',10,10.5,True]

In [24]:
type(list1)

list

In [28]:
type(list1[3])

bool

**Funtions associated with the lists**

**append()** - It will append (adds) a single value in the list at the last, however, if you want to add the multiple values you can append (add) as a list in the list i.e. list of list, it will not act as a single entity

In [30]:
ages.append(100)

In [32]:
ages.append(101,102,103)

TypeError: list.append() takes exactly one argument (3 given)

In [33]:
ages.append([101,102,103])

In [38]:
ages[-1][1]

102

In [40]:
del ages[-1]

**clear()** - Clear will clear the entire list, that means it will remove all the values from the list and the list will still be there as an empty list

In [42]:
ages.clear()

In [45]:
ages

[21, 22, 44, 33, 22, 11, 21, 44, 33, 12, 11, 22]

**copy()** - Copy will create the proper backup, if we make any changes in the original list the copied list will not change, i.e. in the below example ages1 will not change as the changes will happen in ages

In [60]:
ages1 = ages.copy()

**Mutability - We can change the values in the list without changing the memory location of the original list**

In [109]:
id(ages)

1896806854080

In [111]:
ages[3] = 'Rahul'

In [113]:
id(ages)

1896806854080

**To get the memory location we have the id() function**

In [69]:
id(ages)

1896806854080

In [70]:
id(ages1)

1896839365440

In [63]:
ages2 = ages

In [71]:
id(ages2)

1896806854080

**ages2 will get deleted means the pointing will not longer exists**

In [72]:
del ages2

In [74]:
ages2

NameError: name 'ages2' is not defined

**count()** - Count will count the instance of a single value in the list, for example how many 22's are there in the ages list

In [75]:
ages

[100, 22, 44, 33, 22, 11, 21, 44, 33, 12, 11, 22]

In [76]:
ages.count(22)

3

**extend()** - When we have to add the multiple values as a single entity then we can go with the extend, thats why lists are growable in nature

In [77]:
ages

[100, 22, 44, 33, 22, 11, 21, 44, 33, 12, 11, 22]

In [79]:
ages.extend([100,102,103])

In [80]:
ages

[100, 22, 44, 33, 22, 11, 21, 44, 33, 12, 11, 22, 100, 102, 103]

In [81]:
ages[-1]

103

**index()** - It will give the index of the first instance of the value which is passed in the function, in the below example we are looking for the index of 22 and it is giving us the index of the first instance of 22

In [82]:
ages.index(22)

1

**insert()** - If we want to add a single entity at any index we can go with insert, if we try to pass a list of values at the particular index it will insert that entire list as a single entity

In [83]:
ages

[100, 22, 44, 33, 22, 11, 21, 44, 33, 12, 11, 22, 100, 102, 103]

In [84]:
ages.insert(8,40)

In [86]:
ages.insert(8,[1,2,3,4,5])

In [89]:
del ages[8]

**pop()** - By default it will remove the last value, however, if we pass an index, it will remove that index value, in the below example we are removing the value with index as 3

In [93]:
ages.pop()

102

In [96]:
ages.pop(3)

33

**remove()** - We can remove the value by passing the value itself inside the function, and it will remove the first instance of the value, in the below example we are removing 100

In [98]:
ages.remove(100)

In [99]:
ages

[22, 44, 22, 11, 21, 44, 40, 33, 12, 11, 22, 100]

**Difference between remove() and pop()** - In the remove command we can remove the values by passing the value itself, in the pop command we can remove the last value by not passing anything inside the function or we can remove the value by passing the index of that value

**reverse()** - It will flip the list

In [101]:
ages

[22, 44, 22, 11, 21, 44, 40, 33, 12, 11, 22, 100]

In [102]:
ages.reverse()

In [103]:
ages

[100, 22, 11, 12, 33, 40, 44, 21, 11, 22, 44, 22]

**sort()** - By default sorting always happens in the ascending order, but if we want the sorting in the descending order then we can use the reverse argument inside the sort function

In [104]:
ages.sort()

In [106]:
ages.sort(reverse=True)

In [107]:
ages

[100, 44, 44, 40, 33, 22, 22, 22, 21, 12, 11, 11]

# Tuples

**When we have to store the multiple values**

**Properties of the Tuples**

**1) Duplicates are allowed**

**2) Heterogeneous Data Allowed - Any type of datatype in a single tuples**

**3) Immutable in Nature - Addition, removal, updation is not possible in the tuples**

**4) Tuples are created using the normal bracket only**

**5) No growable in nature**

In [125]:
salary = (21,23,22,33,33,22,33,11,25,65)

In [115]:
type(salary)

tuple

**Slicing concept remains the same**

In [116]:
tuple1 = (10,'A',10.5,True)

In [122]:
type(tuple1[3])

bool

**count()** - Count will count the instance of a single value in the tuple, for example how many 33's are there in the salary tuple

In [126]:
salary.count(33)

3

**index()** - It will give the index of the first instance of the value which is passed in the function, in the below example we are looking for the index of 22 and it is giving us the index of the first instance of 22

In [128]:
salary.index(22)

2

In [130]:
del tuple1

In [131]:
sum(salary)

288

In [132]:
len(salary)

10

In [133]:
max(salary)

65

In [134]:
min(salary)

11

**Immutable in nature, we cannot update the tuple**

In [137]:
salary[0]=22

TypeError: 'tuple' object does not support item assignment

**We can use the sorted command which is inbuild function in python to sort the tuple, however there is no sort command specific for tuples**

In [138]:
sorted(salary)

[11, 21, 22, 22, 23, 25, 33, 33, 33, 65]

In [139]:
salary

(21, 23, 22, 33, 33, 22, 33, 11, 25, 65)

**Type casting**

In [140]:
salary

(21, 23, 22, 33, 33, 22, 33, 11, 25, 65)

In [141]:
id(salary)

1896841762496

In [142]:
list1 = list(salary)

In [145]:
list1[0]=100

In [147]:
salary = tuple(list1)

In [148]:
salary

(100, 23, 22, 33, 33, 22, 33, 11, 25, 65)

In [149]:
id(salary)

1896840971840

**In the above example we have updated the tuple but at the same time the memory location also got updated, that means you have overwritten the tuple - That is not mutability**

# Where to use Lists and where to use tuples

**Lists - We can use lists where we know that the values will change quite frequently, names of the female employees where every female employee may change the name after marriage**

**Tuples - We can use tuples where we know that the values will never or very less frequently changes, states names etc**

# TA Questions

**1) Which of the following data structures is immutable?**

    a) List
    b) Dictionary
    c) Tuple - Correct answer
    d) Set

**2) Which of the following is not the property of list in python?**

    a) List is represented by [] brackets 
    b) List supports negative indexing
    c) List does not maintain the order - Correct Answer
    d) Lists are mutable in nature

**3) Select the correct code from below options to fetch 89 from the given list**

    ls = [45,34,[35,76,[89],0,-1]]
    
    a) ls[2][2][0] - Correct Answer
    b) ls[3][2][1]
    c) ls[4][2]
    d) ls[3][3]

**4) Complete the below python code to get the mentioned output**

    Code: 
        list1 = ["Python","Java","Spark"]
        list2 = ["C","C++","C#"]
        list1._____(list2)
        print(list1)
        
    Output: 
        ["Python","Java","Spark","C","C++","C#"]
        
    a) append
    b) extend - Correct Answer
    c) add
    d) merge

**5) What will be the output of the following code**

    Code:
        ls = ["Data","Science"]
        print("-".join(ls))
        
    a) Data-Science - Correct Answer
    b) -DataScience
    c) DataScience-
    d) -Data-Science-

**6) Assume a tuple T is defined as T = (4,1,8,9,0). Which of the following below set of code will throw the error**

    a) print(T[-1])
    b) print(len(T))
    c) print(max(T))
    d) T[3] = 7 - Correct Answer

**7) Which of the following is a common function of list and tuple?**
    
    a) sort
    b) extend
    c) count - Correct Answer
    d) pop

**8) What will be the output of following pseudocode:**
    
    Step1: Initialize an empty list
    Step2: Add a new element 5 in the list
    Step3: Add the first 3 multiples of 2 in the list in the end
    Step4: Remove the last element
    Step5: Print the list
    
    a) [5,2,4] - Correct Answer
    b) [2,4,6]
    c) [5,2,3]
    d) [5,2,6]

**How to initialize the empty list**

In [152]:
List1 = []

In [154]:
List1.append(5)

In [155]:
List1.extend([2,4,6])

In [156]:
List1.pop(-1)

6

In [157]:
List1

[5, 2, 4]

**9) What will be the output of the following code**

    List1 = [2,4,6,8,0]
    List2 = [3,5,7,9,1]
    
    List1.extend(List2[::-1])
    List1.sort()
    print(List1.pop())
    
    a) 6
    b) 7
    c) 8
    d) 9 - Correct Answer

In [164]:
List1 = [2,4,6,8,0]
List2 = [3,5,7,9,1]
    
List1.extend(List2[::-1])
List1.sort()
print(List1.pop())

9

**10) What will be the output of the following code**
    
    tuple1 = (1,3,5,7)
    tuple2 = (2,4,6,8)
    list1 = []
    list1.append(tuple1[-1])
    list1.append(tuple2[2])
    list2 = sorted(list1)
    list3 = list2 + list1
    list3.remove(3)
    print(list3)
    
    a) [6,7,6] 
    b) [5,6,5]
    c) IndexError
    d) [2,3,2]
    e) Value not present error - Correct Answer

In [165]:
tuple1 = (1,3,5,7)
tuple2 = (2,4,6,8)
list1 = []
list1.append(tuple1[-1])
list1.append(tuple2[2])
list2 = sorted(list1)
list3 = list2 + list1
list3.remove(3)
print(list3)

ValueError: list.remove(x): x not in list

**11) Select the correct option to get the given output from the given list**

    Code: 
        List1 = ["India","UK","USA","England"]
        Output:
            ["USA","UK","India","England"]
            
    a) print(list1.sorted())
    b) print(list1.sort())
    c) print(list1.sort(reverse = True)) - Correct Answer
    d) print(sorted(list1), reverse = True)