# String Operations in Python

In [15]:
company = 'Accenture'

In [5]:
type(company)

str

**Index will help us to get the position, Index in Python starts with 0. To do the slicing you have to always use the square bracket**

In [16]:
company[5]

't'

**Slicing will always happen from left to right by default, we have to pass -1 as a parameter to do the slicing from right to left**

In [20]:
company[5:8:1]

'tur'

In [23]:
company[8:2:-1]

'erutne'

In [19]:
company[2:9:-1]

''

In [24]:
company[4]

'n'

In [25]:
company[-5]

'n'

In [26]:
company[-8:7]

'ccentu'

In [29]:
company[6:-8:-2]

'unc'

In [30]:
company[1:7:2]

'cet'

# For Loops

In [37]:
company

'Accenture'

**Purpose of for loop is to iterate on something, in the below example it is range(0,9)**

In [38]:
#for i in something:
#    getoutput

In [40]:
len(company)

9

In [48]:
list(range(0,len(company)))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [49]:
for i in range(0,len(company)):
    print(company[i])

A
c
c
e
n
t
u
r
e

# while loops

**Till the time the condition is True the loop will run, and it will terminate once False encounters**

In [50]:
#while condition:
#    getoutput

In [51]:
coupouns = 5
utilized = 0 
while utilized<=coupouns:
    print('There are', coupouns-utilized, 'coupouns left')
    utilized=utilized+1

There are 5 coupouns left
There are 4 coupouns left
There are 3 coupouns left
There are 2 coupouns left
There are 1 coupouns left
There are 0 coupouns left

In [ ]:
5! = 5*4*3*2*1

**Input command will always store the value in the string datatype**

**Applying the conversion of the datatype from str to int is known as type casting**

In [64]:
number = int(input('Enter the number: '))
if number<0:
    print('There is no factorial of a negative number')
else:
    result = 1
    while number>0:
        result = result*number
        number=number-1
    print(result)

Enter the number: 5
120

In [ ]:
#if else

In [65]:
#if condition:
#    do something
#else:
#    do other thing

**Strip, LStrip, RStrip**

In [80]:
state_list = ['Gujarat','Haryana','Tamil nadu', 'Karnataka', 'Delhi']
your_state = input('Enter your state: ').strip().strip('$')
if your_state in state_list:
    print('Your State', your_state, 'is present')
else:
    print('Your State', your_state, 'is not present')

Enter your state:     Gujarat$$$$
Your State Gujarat is present

In [ ]:
company.strip

In [75]:
company = '     Accenture       '

In [76]:
company.strip()

'Accenture'

In [82]:
state_list = ['Gujarat','Haryana','Tamil nadu', 'Karnataka', 'Delhi']
your_state = input('Enter your state: ').lstrip().rstrip('$')
if your_state in state_list:
    print('Your State', your_state, 'is present')
else:
    print('Your State', your_state, 'is not present')

Enter your state: $$$Gujarat
Your State $$$Gujarat     is not present

**Find and Rfind**

In [89]:
name = 'RahulTiwariRahulTiwari'
name.find('r',10,20)

-1

In [90]:
name.find('z')

-1

In [93]:
name = 'RahulTiwariRahulTiwari'
name.rfind('R')

11

In [94]:
name.find('R')

0

In [100]:
string = 'Rahululul'
whatlookingfor = input('What are you looking for: ')
flag = False
pos = -1
n = len(string)
while True: 
    pos = string.find(whatlookingfor, pos+1,n)
    if pos==-1:
        break
    else:
        print('Found at index:', pos)
        flag = True
if flag==False:
    print('Not Found')

What are you looking for: l
Found at index: 4
Found at index: 6
Found at index: 8

**Count**

In [103]:
name = 'RahulTiwariRahulTiwari'
name.count('Rahul',7,22)

1

**Replace**

In [105]:
name = 'RahulTiwariRahulTiwari'
name.replace('Rahul','Atharv')

'AtharvTiwariAtharvTiwari'

**Split**

In [106]:
name = 'Rahul-Tiwari-Python-Upgrad-GCP-String-Operations'

In [108]:
name.split('-',3)

['Rahul', 'Tiwari', 'Python', 'Upgrad-GCP-String-Operations']

**Join**

In [109]:
name = ['Rahul', 'Tiwari', 'Atharv']

In [111]:
'-'.join(name)

'Rahul-Tiwari-Atharv'

**Upper - Make all the characters as capital**

**Lower - Make all the characters as small**

**Swapcase - swap the case if caps it will become small and vice versa**

**Title - all the first characters of every word as capital** 

**Capitalize - The very first word as caps rest all as small**

In [112]:
name = 'Rahul Tiwari is a Data scientist'

In [120]:
print(name.upper()) #All upper 
print(name.lower()) #All lower
print(name.swapcase()) #swapcase - swap the case if caps it will become small and vice versa
print(name.title()) #title - all the first characters of every word as capital 
print(name.capitalize()) #The very first word as caps rest all as small

RAHUL TIWARI IS A DATA SCIENTIST
rahul tiwari is a data scientist
rAHUL tIWARI IS A dATA SCIENTIST
Rahul Tiwari Is A Data Scientist
Rahul tiwari is a data scientist

**Startswith - It gives True if the sentence starts with the word or alphabet which you are passing in the function**

**Endswith - It gives True if the sentence ends with the word or alphabet which you are passing in the function**

In [121]:
name = 'Rahul Tiwari is a Data scientist'

In [125]:
print(name.startswith('rahul'))
print(name.endswith('t'))

False
True

**isalnum() - So if Rahul or 123 or Rahul123 it will classify as alnum**

**isalpha() - If Rahul it will classify as alpha else False**

**isdigit()/isnumeric() - 123 classify as numeric else False**

**islower() - So it checks if the string is consists of all the lower characters**

**isupper() - So it checks if the string is consists of all the upper characters**

**istitle() - It check if the first character is captial or not rest all characters should be small**

**isspace() - It checks for space, if it is there then true else false**

In [128]:
name = 'Rahul'
print(name.isalnum())
print(name.isalpha())
print(name.isnumeric())

True
True
False

In [129]:
name = '123'
print(name.isalnum())
print(name.isalpha())
print(name.isnumeric())

True
False
True

In [130]:
name = 'Rahul123'
print(name.isalnum())
print(name.isalpha())
print(name.isnumeric())

True
False
False

In [132]:
name = 'rahul'
name.islower()

True

In [133]:
name = 'RAHUL'
name.isupper()

True

In [134]:
name = 'Rahul'
name.istitle()

True

In [137]:
name = 'Rahul Tiwari'
name[5].isspace()

True

In [136]:
name = '     '
name.isspace()

True

**Is string immutable? It is immutable in nature as we cannot update the particular character or entire string without chainging the memory location**

**Mutability means - We can update the values without changing the memory location**

In [138]:
name = 'Rahul'

In [141]:
name = 'Rohit'

In [140]:
name[0]='A'

TypeError: 'str' object does not support item assignment

In [142]:
id(name)

1925581064368

**How to concatenate the strings**

In [145]:
fname = 'Rahul'
lname = 'Tiwari'
fname+ ' ' + lname

'Rahul Tiwari'

In [148]:
sens = 80
print("sens"+" is score "+str(sens)+" in mathematics")

sens is score 80 in mathematics

**We cannot add number with string**

In [147]:
'Rahul' + 10

TypeError: can only concatenate str (not "int") to str

In [149]:
'10' + '20'

'1020'

In [150]:
int('10') + int('20')

30

In [155]:
inp = 'Python is amazing'
out = inp[:5:-1] + inp[5::]

In [153]:
inp[:5:-1]

'gnizama si '

In [154]:
inp[5::]

'n is amazing'

In [156]:
out

'gnizama si n is amazing'

**If in the string there is a space it will not consider as alpha or alnum**

In [161]:
string = 'python programming'
string.isupper()
string.islower()
string.isalpha()
string.isalnum()

True