# Functional Programming

In [3]:
def calculator(num1,num2,operation='all'):
    '''In the operation you can pass all i.e. default, sum,sub,mul,div'''
    if operation=='all':
        print(num1+num2)
        print(num1-num2)
        print(num1*num2)
        print(num1/num2)
        
    elif operation=='sum':
        print(num1+num2)
        
    elif operation=='sub':
        print(num1-num2)
        
    elif operation=='mul':
        print(num1*num2)
    
    elif operation=='div':
        print(num1/num2)
    
    else:
        print('Please pass the correct option')

In [5]:
output = calculator(10,2)

12
8
20
5.0

In [7]:
type(output)

NoneType

In [8]:
def calculator(num1,num2,operation='all'):
    '''In the operation you can pass all i.e. default, sum,sub,mul,div'''
    if operation=='all':
        return(num1+num2)
        return(num1-num2)
        return(num1*num2)
        return(num1/num2)
        
    elif operation=='sum':
        return(num1+num2)
        
    elif operation=='sub':
        return(num1-num2)
        
    elif operation=='mul':
        return(num1*num2)
    
    elif operation=='div':
        return(num1/num2)
    
    else:
        return('Please pass the correct option')

In [10]:
calculator(10,2,'all')

12

In [13]:
def calculator(num1,num2,operation='all'):
    '''In the operation you can pass all i.e. default, sum,sub,mul,div'''
    if operation=='all':
        return num1+num2,num1-num2,num1*num2,num1/num2
        
    elif operation=='sum':
        return(num1+num2)
        
    elif operation=='sub':
        return(num1-num2)
        
    elif operation=='mul':
        return(num1*num2)
    
    elif operation=='div':
        return(num1/num2)
    
    else:
        return('Please pass the correct option')

In [14]:
calculator(10,2)

(12, 8, 20, 5.0)

In [15]:
def calculator(num1,num2,operation='all'):
    '''In the operation you can pass all i.e. default, sum,sub,mul,div'''
    if operation=='all':
        return {'Sum':num1+num2,'Sub':num1-num2,'Mul':num1*num2,'Div':num1/num2}
        
    elif operation=='sum':
        return(num1+num2)
        
    elif operation=='sub':
        return(num1-num2)
        
    elif operation=='mul':
        return(num1*num2)
    
    elif operation=='div':
        return(num1/num2)
    
    else:
        return('Please pass the correct option')

In [17]:
output = calculator(10,2)

In [18]:
output

{'Sum': 12, 'Sub': 8, 'Mul': 20, 'Div': 5.0}

In [19]:
num1 = int(input('Enter the number1: '))
num2 = int(input('Enter the number2: '))
ope = input('Enter the Operation: ')
calculator(num1,num2,ope)

Enter the number1: 10
Enter the number2: 2
Enter the Operation: all

{'Sum': 12, 'Sub': 8, 'Mul': 20, 'Div': 5.0}

1) Pin check

In [22]:
def pin_check():
    correct_pin = 1234
    max_attempts = 3
    attempts = 0 
    
    while attempts<max_attempts:
        pin = int(input('Enter the pin: '))
        if pin == correct_pin:
            print('Pin accepted, access granted')
            break
        else:
            attempts+=1
            print('Incorrect pin, attempts remaining: ', max_attempts-attempts)
            
    if attempts==max_attempts:
        print('Max attempts reached, Access Denied')

In [26]:
pin_check()

Enter the pin: 1234
Pin accepted, access granted

In [27]:
def pin_check():
    correct_pin = 1234
    max_attempts = 3
    attempts = 0 
    
    while attempts<max_attempts:
        pin = input('Enter the pin: ').strip()
        if pin == str(correct_pin):
            print('Pin accepted, access granted')
            break
        else:
            attempts+=1
            print('Incorrect pin, attempts remaining: ', max_attempts-attempts)
            
    if attempts==max_attempts:
        print('Max attempts reached, Access Denied')

In [28]:
pin_check()

Enter the pin:          1234
Pin accepted, access granted

In [29]:
def greeting(subject='Upgrad',name):
    print('Welcome',name)
    print(subject)

SyntaxError: non-default argument follows default argument (1925677362.py, line 1)

In [38]:
def greeting(name,subject='Upgrad',ins_name='Rahul'):
    print('Welcome',name)
    print(subject)

In [43]:
def add(num1,num2,num3,num4):
    print(num1+num2+num3+num4)

In [44]:
add(10,2,3,4)

19

In [45]:
def add(*args):
    result = 0
    for i in args:
        result=result+i
    print(result)

In [47]:
add(10,2,3,4,4,5,6,7,8,8,7,6,5,5,4)

84

In [51]:
def add(*args):
    result = ''
    for i in args:
        result=result+i
    print(result)

In [50]:
add('A','B')

AB

In [52]:
#Local and Global Variable

In [53]:
a = 100

def f1():
    print(a)
    
f1()

def f2():
    print(a)
    
f2()

100
100

In [54]:
a = 100

def f1():
    a = 1000
    print(a)
    
f1()

def f2():
    print(a)
    
f2()

1000
100

In [59]:
a = 100

def f1():
    global a
    a=1000
    print(a)
    
f1()

def f2():
    print(a)
    
f2()

1000
1000

In [56]:
a

1000

**Lambda Functions**

    Nameless function, Anonymous function, without name

In [60]:
def square(num1):
    print(num1*num1)

In [61]:
square(10)

100

In [63]:
sq = lambda num1:num1*num1

In [64]:
sq(10)

100

In [65]:
addition = lambda a,b:a+b

In [66]:
addition(10,20)

30

In [67]:
calculate_interest = lambda amount,rate : amount*rate

In [68]:
principal = 1000
interest_rate = 0.05
interest = calculate_interest(principal,interest_rate)
print('Interest: ', interest)

Interest:  50.0

In [70]:
cal_fee = lambda amount : 5 if amount>1000 else 2
cal_fee(500)

2

In [83]:
def outer():
    print('Outer function is running')
    def inner():
        print('Inner function is running')
    #inner()
        
outer()

Outer function is running

In [82]:
inner()

NameError: name 'inner' is not defined

In [75]:
a = 100
#b = 1000
def f1():
    b=1000
    print(b)
    
f1()

def f2():
    print(a)
    
f2()

1000
100

In [76]:
b

NameError: name 'b' is not defined

In [77]:
othername = 'Sourav'

def f1():
    name = 'Aparna'
    print(name)

In [79]:
f1()

Aparna

In [80]:
othername

'Sourav'

In [91]:
name4 = 'Rahul'
def f1():
    name1 = 'Aparna'
    name2 = 'Rohit'
    name3 = 'Sourav'
    print(name1)
    print(name2)
    
    print(name3)

In [92]:
f1()

Aparna
Rohit
Sourav

In [164]:
def calculator():
    def add(num1,num2):
        return num1+num2
    
    def sub(num1,num2):
        return num1-num2
    
    def mul(num1,num2):
        return num1*num2
    
    def div(num1,num2):
        return num1/num2
    
    num1 = 10
    num2 = 2
    print(add(num1,num2))
    print(sub(num1,num2))
    print(mul(num1,num2))
    print(div(num1,num2))

In [165]:
calculator()

12
8
20
5.0

In [169]:
def check_voting_eligibility(age):
    def is_eligible():
        return age>=18
    
    if is_eligible()==True:
        print('You are eligible')
    else:
        print('You are not eligible')

In [171]:
check_voting_eligibility(13)

You are not eligible

In [172]:
def convert_currency(amount,rate):
    def apply_conversion():
        return amount*rate
    
    converted_amount = apply_conversion()
    print('Converted Amount:', converted_amount)

In [173]:
convert_currency(3973,82)

Converted Amount: 325786

In [244]:
import random
def generate_password():
    def generate_random_digit():
        return random.randint(0,9)
    

    def generate_random_letter():
        return chr(random.randint(97,122))
    
    password = ""
    for i in range(6):
        if random.choice([True,False]) == True:
            password += str(generate_random_digit())
        else:
            password +=generate_random_letter()
            
    print("Generated Password: ", password)

In [288]:
generate_password()

Generated Password:  yqy7b4

In [289]:
def banking_app():
    # Dictionary to store account information (account_number: balance)
    accounts = {}

    def create_account(account_number, initial_balance=0):
        """Create a new bank account."""
        if account_number in accounts:
            print("Account already exists.")
        else:
            accounts[account_number] = initial_balance
            print("Account created successfully.")

    def deposit(account_number, amount):
        """Deposit funds into an existing account."""
        if account_number in accounts:
            accounts[account_number] += amount
            print("Deposit successful.")
        else:
            print("Account not found.")

    def withdraw(account_number, amount):
        """Withdraw funds from an existing account."""
        if account_number in accounts:
            if accounts[account_number] >= amount:
                accounts[account_number] -= amount
                print("Withdrawal successful.")
            else:
                print("Insufficient funds.")
        else:
            print("Account not found.")

    def get_balance(account_number):
        """Check the account balance."""
        if account_number in accounts:
            balance = accounts[account_number]
            print(f"Account balance: {balance}")
        else:
            print("Account not found.")

    # Sample usage:
    create_account("1234567890", 1000)
    deposit("1234567890", 500)
    withdraw("1234567890", 200)
    get_balance("1234567890")

# Call the banking application function
banking_app()

Account created successfully.
Deposit successful.
Withdrawal successful.
Account balance: 1300