# Python - An Introduction

**Data** 
    
    1) Catergorical/Qualitative/Dimensions
        a) Nominal - Gender/State/Department (No order associated) 
        
        b) Ordinal - Rank/Feedback - Poor/Avg/Good/Excellent (Order is associated)
        
        c) Boolean - True/False - Yes/No 
    
    
    2) Numerical/Quantitative/Facts/Measures
        a) Discrete - No with no decimals, 5 Pens
        
        b) Continuous - No with decimals, 5.5 Lts of milk

**String** - Whenever you are passing a value in a quotes, it can be single quote '' or it can be double quote also "", These are for multiline texts '''''', """""" , '123' - If we are passing a number in the quotes still it is consider as a string

**Integer** - Number without decimals 

**Float** - Number with decimals 

**Boolean** - True and False

**Variable or Identifier - Naming convention**

    1) Alphabets can be used - It can be small or capital, Python is a case senstive programming language i.e. cust and CUST both these variables are different
    
    2) Numbers - But numbers should not be at the start i.e. 123cust = 'Rahul' - Error, cu123st = 'Rahul' (No issues), cust123 = 'Rahul' (No issues)
    
    3) Underscores - We can only use underscores in the identifier, it can be any where in the identifier i.e. _cust, cu_st, cust_
    
    4) We cannot use Python specific keywords as an identifier, there are 36 keywords in python 
        import keyword
        keyword.kwlist

In [13]:
customer_name = 'John'

In [8]:
import keyword
len(keyword.kwlist)

36

In [9]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

**False has its own meaning in Python**

In [10]:
False = 'Rahul'

SyntaxError: cannot assign to False (1783068705.py, line 1)

In [11]:
false = 'Rahul'

In [12]:
false

'Rahul'

# Strings

In [14]:
company = 'Accenture'

**Slicing and Indexing**

In [15]:
company[5]

't'

**By Default the slicing will always happens from left to right**

In [18]:
company[2:7:1]

'centu'

**In the below command it will jump**

In [21]:
company[2:7:2]

'cnu'

In [20]:
company[6:2:-1]

'utne'

**In the below command it will jump**

In [22]:
company[6:2:-2]

'un'

In [23]:
company[5::-1]

'tneccA'

In [24]:
company[:5:-1]

'eru'

In [25]:
company[2]

'c'

In [26]:
company[-7]

'c'

In [27]:
company[1:-3]

'ccent'

In [28]:
company[7:-8]

''

In [29]:
company[-8:5]

'ccen'

In [30]:
company[-8:-2]

'ccentu'

**String Operations**

**find() - It will give the index of the first iteration of the character, when the find command does not find the string then it will return -1 and it is not a reverse index**

**When we are using functions, we will always use () normal brackets, Slicing will always require [] square brackets**

In [38]:
string = 'RahulTiwariRahulTiwari'
print(string.find('R'))
print(string.find('R',5,15))
print(string.find('Z'))

0
11
-1

**rfind() - Finds the instance from the back but index calculation happens from the start**

In [42]:
string = 'RahulTiwariRahulTiwari'
print(string.rfind('R'))
print(string.rfind('R',5,15))
print(string.rfind('Z'))

11
11
-1

**Strip()** - Strip will strip the spaces from both the sides BY DEFAULT, so we can strip other characters as well by passing that inside the bracket

**Lstrip()** - LStrip will strip the spaces from left side BY DEFAULT, so we can strip other characters as well by passing that inside the bracket

**Rstrip()** - RStrip will strip the spaces from right side BY DEFAULT, so we can strip other characters as well by passing that inside the bracket

If we want to stript multiple characters we can use multiple strip commands

In [45]:
city = ' Surat '
city.strip()

'Surat'

In [48]:
city = '$Surat$'
city.strip('$')

'Surat'

In [47]:
city = ' Surat$'
city.strip().strip('$')

'Surat'

**Split() - It splits the data based on the delimiter and we can restrict that also by pass how many delimeters, in the below example we have given 2**

In [49]:
name = 'Rahul$Tiwari$Atharv'
name.split('$')

['Rahul', 'Tiwari', 'Atharv']

In [51]:
data = 'Rahul-Tiwari-Data-Science-Upgrad-LIBA-BA-C18'
data.split('-',2)

['Rahul', 'Tiwari', 'Data-Science-Upgrad-LIBA-BA-C18']

**Join() - It joins the values from the list and give the output as a string**

In [52]:
list1 = ['Rahul','Tiwari','Atharv']
'$'.join(list1)

'Rahul$Tiwari$Atharv'

**Count() - Count will get the number of instances of a character, we can resctrict the same by passing the range**

In [57]:
string = 'Rahululululul'
string.count('u',7,11)

2

**Upper() - It will make all the characters capital** 

**Lower() - It will make all the characters small** 

**Swapcase() - In this all the caps will become small and small will become caps**

**Title() - Every first character of the word will become caps**

**Capitalize() - Only the first character will be the cap rest all small**

In [58]:
data = 'Rahul Tiwari is a data Scientist'
print(data.upper())
print(data.lower())
print(data.swapcase())
print(data.title())
print(data.capitalize())

RAHUL TIWARI IS A DATA SCIENTIST
rahul tiwari is a data scientist
rAHUL tIWARI IS A DATA sCIENTIST
Rahul Tiwari Is A Data Scientist
Rahul tiwari is a data scientist

**Startswith() - It checks if the string starts with the value which is passed in the function**

**Endswith() - It checks if the string ends with the value which is passed in the function**

In [60]:
data = 'Rahul Tiwari is a data Scientist'
print(data.startswith('Rahul'))
print(data.endswith('Rahul'))

True
False

**isalnum()** - Alnum will always be true, no matter you have alphabets, or numbers or both

**isalpha()** - True when you have alphabets only

**isnumeric()** - True when you have numbers only

**islower()** - True when all characters are small

**isupper()** - True when all characters are caps

**istitle()** - When the first character of every word is cap

**isspace()** -

In [62]:
string = 'Rahul'
print(string.isalnum())
print(string.isalpha())
print(string.isnumeric())

True
True
False

In [63]:
string = '123'
print(string.isalnum())
print(string.isalpha())
print(string.isnumeric())

True
False
True

In [61]:
string = 'Rahul123'
print(string.isalnum())
print(string.isalpha())
print(string.isnumeric())

True
False
False

In [64]:
string = 'rahul'
string.islower()

True

In [66]:
string = 'RAHUL'
string.isupper()

True

In [67]:
string = 'Rahul'
string.istitle()

True

In [69]:
string = 'rahul tiwari'
string[5].isspace()

True

**Concatenation**

In [70]:
fname = 'Rahul'
lname = 'Tiwari'
fname + ' ' + lname

'Rahul Tiwari'

In [71]:
num1 = '10'
num2 = '20'
num1+num2

'1020'

**Type Casting - Type casting is nothing but chaning the data type from one to another**

In [72]:
num1 = int('10')
num2 = int('20')
num1+num2

30

In [73]:
num1 = int('a')
num2 = int('b')
num1+num2

ValueError: invalid literal for int() with base 10: 'a'

**Operators in Python**

**Arithmetic** 

    1) Addition + 
    
    2) Subtraction - 
    
    3) Multiplication *
    
    4) Division /
    
    5) Floor Division //
    
    6) Modulo %
    
    7) Power **

**Relational or Comparision**

    1) Greater Than > 
    
    2) Greater Than Equals to >=
    
    3) Less Than < 
    
    4) Less Than Equals to <=

**Equality**

    1) Equals to ==
    
    2) Not Equals to !=

**Ternary**

**Assignment**

    1) +=
    
    2) -=
    
    3) *=
    
    4) /=
    
    5) //=
    
    6) %=
    
    7) **=

**Special** 

    a) Identity 
        a.1) Is
        a.2) Is Not
    
    b) Membership
        b.1) In
        b.2) Not In

**Arithmetic**

In [75]:
num1 = 10 
num2 = 3

print('num1+num2: ', num1+num2)
print('num1-num2: ', num1-num2)
print('num1*num2: ', num1*num2)
print('num1/num2: ', num1/num2)
print('num1//num2: ', num1//num2)
print('num1%num2: ', num1%num2)
print('num1**num2: ', num1**num2)

num1+num2:  13
num1-num2:  7
num1*num2:  30
num1/num2:  3.3333333333333335
num1//num2:  3
num1%num2:  1
num1**num2:  1000

**Relation or Comparision**

In [77]:
num1 = 10
num2 = 3 
print('num1>num2: ',num1>num2)
print('num1>=num2: ',num1>=num2)
print('num1<num2: ',num1<num2)
print('num1<=num2: ',num1<=num2)

num1>num2:  True
num1>=num2:  True
num1<num2:  False
num1<=num2:  False

**Equality Operator**

In [78]:
num1 = 10
num2 = 3 
print('num1==num2: ',num1==num2)
print('num1!=num2: ',num1!=num2)

num1==num2:  False
num1!=num2:  True

**Ternary**

In [79]:
30 if 10>20 else 40

40

In [80]:
10 if 10>5>6 else 5 if 5>6 else 6

6

**Assignment**

In [81]:
num1 = 10
num1+=20
num1

30

**Special**

Identity

In [83]:
num1 = 10 
num2 = 10 
print(id(num1))
print(id(num2))
print(num1 is num2)

2468777454160
2468777454160
True

In [88]:
num1 = 257
num2 = 257
print(id(num1))
print(id(num2))
print(num1 is num2)

2468902303024
2468902304016
False

In [89]:
num1 = 250.5
num2 = 250.5
print(id(num1))
print(id(num2))
print(num1 is num2)

2468902304112
2468902304240
False

Membership

In [91]:
'r' not in 'Rahulr'

False

**Data Structure**

    1) Lists 
        a) [] - Always start with a square bracket
        b) Mutable in nature - We can change the values of the lists without changing the memory location 
        c) Lists can have hetergeneous data - In a single list I can have different data types 
        d) List is growable in nature
        e) Duplicates are also allowed
    
    2) Tuple
        a) () - Always start with a normal bracket
        b) Immutable in nature - We cannot change the values of the tuples without changing the memory location 
        c) Tuples can have hetergeneous data - In a single list I can have different data types 
        d) Tuples are not growable in nature
        e) Duplicates are also allowed
    
    3) Sets
    
    4) Dictionary

**Lists**

In [127]:
ages = [23,22,43,23,23,43,11]

In [93]:
len(ages)

7

In [94]:
sum(ages)

188

In [95]:
sum(ages)/len(ages)

26.857142857142858

In [96]:
min(ages)

11

In [97]:
max(ages)

43

In [98]:
del ages

In [99]:
ages

NameError: name 'ages' is not defined

In [108]:
ages

[23, 22, 43, 23, 23, 43, 11]

In [107]:
list1 = ['A',10,10.5,True]
print(type(list1[3]))

<class 'bool'>

In [109]:
ages.append(10)

In [112]:
ages.append([11,12,13])

In [114]:
ages[-1]

[11, 12, 13]

In [116]:
ages[-1][-1]

13

In [118]:
del ages[-1]

In [120]:
ages.extend([11,12,13])

In [122]:
ages[-1]

13

In [123]:
ages.clear()

In [125]:
del ages

In [126]:
ages

NameError: name 'ages' is not defined

In [129]:
ages1 = ages.copy()

In [140]:
id(ages1)

2468895692480

In [134]:
ages[0] = 100

In [138]:
id(ages)

2468895666112

In [132]:
ages2 = ages

In [139]:
id(ages2)

2468895666112

In [141]:
del ages2

In [142]:
ages

[100, 22, 43, 23, 23, 43, 11]

In [143]:
ages.count(23)

2

In [144]:
ages.index(23)

3

In [145]:
ages.insert(4,'Rahul')

In [147]:
ages.insert(4,[1,2,3,4])

In [149]:
ages.pop()

11

In [151]:
ages.pop(4)

[1, 2, 3, 4]

In [153]:
ages.remove('Rahul')

In [155]:
ages.reverse()

In [157]:
ages.sort()

In [159]:
ages.sort(reverse=True)

In [160]:
ages

[100, 43, 43, 23, 23, 22]

**Tuples**

In [171]:
salary = (1,2,3,4,5,6)

In [162]:
type(salary)

tuple

In [163]:
salary[0] = 10

TypeError: 'tuple' object does not support item assignment

In [164]:
len(salary)

6

In [165]:
sum(salary)

21

In [166]:
sum(salary)/len(salary)

3.5

In [167]:
min(salary)

1

In [168]:
max(salary)

6

In [169]:
del salary

In [173]:
salary[2]

3

In [174]:
salary.count(3)

1

In [175]:
salary.index(3)

2

In [176]:
list1 = [1,2,3,4]
id(list1)

2468897013056

In [177]:
list1[0]=100

In [179]:
id(list1)

2468897013056

In [187]:
salary
id(salary)

2468861096000

**1) Convert tuple to list**

**2) Update the list**

**3) Convert list to tuple**

In [183]:
a = list(salary)

In [185]:
a[0]=100

In [188]:
salary = tuple(a)

In [190]:
salary

(100, 2, 3, 4, 5, 6)

In [189]:
id(salary)

2468897558336