**Data Structures in Python**

List

In [1]:
ages = [21,22,43,33,23,22,33]

In [3]:
len(ages)

7

In [4]:
sum(ages)

197

In [5]:
min(ages)

21

In [6]:
max(ages)

43

In [8]:
ages.append(100)

In [11]:
ages.append([101,102,103])

In [15]:
ages[-1][1]

102

In [17]:
del ages[8]

In [19]:
ages.extend([101,102,103])

In [21]:
ages.extend(['A','B'])

In [23]:
ages.clear()

In [25]:
ages = [10,20,30,40,50,60]

In [27]:
ages1 = ages.copy()

In [28]:
ages1

[10, 20, 30, 40, 50, 60]

In [29]:
ages

[10, 20, 30, 40, 50, 60]

In [30]:
ages2 = ages

In [31]:
ages2

[10, 20, 30, 40, 50, 60]

In [33]:
ages[0]=100

In [34]:
ages

[100, 20, 30, 40, 50, 60]

In [35]:
ages1

[10, 20, 30, 40, 50, 60]

In [36]:
ages2

[100, 20, 30, 40, 50, 60]

In [37]:
id(ages)

2133680604480

In [39]:
id(ages1)

2133665081408

In [40]:
id(ages2)

2133680604480

In [41]:
del ages1

In [42]:
del ages2

In [46]:
ages[1]=100

In [48]:
ages.count(100)

2

In [50]:
ages.index(100)

0

In [51]:
ages.insert(3,100)

In [53]:
ages.pop()

60

In [55]:
ages.pop(3)

100

In [57]:
ages.remove(100)

In [59]:
ages.reverse()

In [63]:
ages.sort(reverse=True)

Tuple

To create the tuple we have to use () normal bracket

Tuples are immutable in nature

Tuples - Heterogeneous data 

Tuples - Duplicates 

Tuple growable in nature - Not

In [65]:
salary = (21,23,44,'A',10.5, True)

In [66]:
type(salary)

tuple

In [69]:
salary[0]=100

TypeError: 'tuple' object does not support item assignment

In [70]:
len(salary)

6

In [71]:
salary.count(21)

1

In [72]:
salary.index(21)

0

In [73]:
salary

(21, 23, 44, 'A', 10.5, True)

In [74]:
l1 = list(salary)

In [78]:
l1[3]='B'

In [81]:
salary = tuple(l1)

In [80]:
id(salary)

2133678489216

In [82]:
id(salary)

2133690694048

Dictionary

In [104]:
stu_list = {'sid':[1,2,3,4,5], 'sname':['A','B','C','D','E'],'sloc':['Delhi','Gurgaon','Delhi','Mumbai','Delhi']}

In [85]:
type(stu_list)

dict

In [98]:
len(stu_list)

3

In [90]:
del stu_list

In [108]:
stu_list['sname'][0]='B'

In [109]:
stu_list

{'sid': [1, 2, 3, 4, 5],
 'sname': ['B', 'B', 'C', 'D', 'E'],
 'sloc': ['Delhi', 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi']}

In [111]:
stu_list.get('sname')

['B', 'B', 'C', 'D', 'E']

In [112]:
stu_list['sname']

['B', 'B', 'C', 'D', 'E']

In [113]:
stu_list.items()

dict_items([('sid', [1, 2, 3, 4, 5]), ('sname', ['B', 'B', 'C', 'D', 'E']), ('sloc', ['Delhi', 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi'])])

In [114]:
stu_list.keys()

dict_keys(['sid', 'sname', 'sloc'])

In [115]:
stu_list.values()

dict_values([[1, 2, 3, 4, 5], ['B', 'B', 'C', 'D', 'E'], ['Delhi', 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi']])

In [117]:
stu_list.pop('sid')

[1, 2, 3, 4, 5]

In [119]:
stu_list['s_name']=stu_list.pop('sname')

In [124]:
stu_list['sloc']=stu_list.pop('s_loc')

In [126]:
id(stu_list)

2133668014336

In [125]:
stu_list

{'s_name': ['B', 'B', 'C', 'D', 'E'],
 'sloc': ['Delhi', 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi']}

In [129]:
stu_list.popitem()

('sloc', ['Delhi', 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi'])

In [130]:
stu_list

{'s_name': ['B', 'B', 'C', 'D', 'E']}

In [131]:
stu_list.setdefault('sloc')

In [132]:
stu_list

{'s_name': ['B', 'B', 'C', 'D', 'E'], 'sloc': None}

In [133]:
stu_list['sloc'] = ['N','S','E','W','W']

In [134]:
stu_list

{'s_name': ['B', 'B', 'C', 'D', 'E'], 'sloc': ['N', 'S', 'E', 'W', 'W']}

In [136]:
stu_list.setdefault('Sregion')

In [137]:
stu_list

{'s_name': ['B', 'B', 'C', 'D', 'E'],
 'sloc': ['N', 'S', 'E', 'W', 'W'],
 'Sregion': None}

In [138]:
dict1 = {1:2,4:5,6:7}
dict2 = {1:19,9:10,20:30}

In [139]:
dict1.update(dict2)

In [140]:
dict1

{1: 19, 4: 5, 6: 7, 9: 10, 20: 30}

In [141]:
stu_list = {'sid':[1,2,3,4,5], 'sname':['A','B','C','D','E'],'sloc':['Delhi','Gurgaon','Delhi','Mumbai','Delhi']}

In [142]:
stu_list

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'sloc': ['Delhi', 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi']}

In [143]:
import pandas as pd

In [144]:
pd.DataFrame(stu_list)

   sid sname     sloc
0    1     A    Delhi
1    2     B  Gurgaon
2    3     C    Delhi
3    4     D   Mumbai
4    5     E    Delhi

Set

{}

heterogeneous data

cannot have duplicates

Growable in nature

Sorted

Slicing is not possible

In [153]:
set1 = {100,2,3,4,4,4,4,4,4,5,6,7}

In [147]:
set1[3]

TypeError: 'set' object is not subscriptable

In [149]:
len(set1)

7

In [150]:
type(set1)

set

In [151]:
min(set1)

1

In [155]:
set1.add(101)

In [157]:
set1.add([101,102,103])

TypeError: unhashable type: 'list'

In [158]:
set1.update([101,102,103,104])

In [204]:
set1.discard(100)

In [192]:
set1

{2, 3, 4, 5, 6, 7, 102, 103, 104}

In [208]:
set1.remove(101)

KeyError: 101

In [195]:
set1.pop()

3

In [216]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}
set3 = {4,5,6,7,8}
set4 = {10,11,12,13}

In [210]:
set1.difference(set3)

{1, 2, 3}

In [213]:
set1.difference_update(set3)

In [214]:
set1

{1, 2, 3}

In [211]:
set1.symmetric_difference(set3)

{1, 2, 3, 6, 7, 8}

In [217]:
set1.symmetric_difference_update(set3)
set1

{1, 2, 3, 6, 7, 8}

In [212]:
set1.intersection(set3)

{4, 5}

In [218]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}
set3 = {4,5,6,7,8}
set4 = {10,11,12,13}

In [219]:
set1.isdisjoint(set4)

True

In [220]:
set1.issuperset(set2)

True

In [221]:
set2.issubset(set1)

True

In [222]:
set1.union(set4)

{1, 2, 3, 4, 5, 10, 11, 12, 13}

In [224]:
fsset = frozenset(set1)

# Operators in Python

In [ ]:
Arithmetic Operators 

Addition + 
Subtraction - 
Multiplication *
Division /
Floor Division //
Modulo %
Power **

In [227]:
a = 10
b = 3 
print('a+b: ', a+b)
print('a-b: ', a-b)
print('a*b: ', a*b)
print('a/b: ', a/b)
print('a//b: ', a//b)
print('a%b: ', a%b)
print('a**b: ', a**b)

a+b:  13
a-b:  7
a*b:  30
a/b:  3.3333333333333335
a//b:  3
a%b:  1
a**b:  1000

In [229]:
int('10')+int('20')

30

In [ ]:
Relational Operator

<
>
<=
>=

In [230]:
a = 10
b = 20
print('a>b: ',a>b)
print('a<b: ',a<b)
print('a>=b: ',a>=b)
print('a<=b: ',a<=b)

a>b:  False
a<b:  True
a>=b:  False
a<=b:  True

In [ ]:
Equality Operator

==
!=

In [236]:
a = 10
b = 20

print(a==b)
print(a!=b)

False
True

In [233]:
a

20

In [237]:
a = 10 
a +=20
a

30

In [238]:
a = 10
a = a + 20
a

30

In [ ]:
Ternary Operator

In [239]:
10 if 20>40 else 30

30

In [240]:
10 if 10>7>9 else 9 if 7>9 else 7

7

In [ ]:
Special Operators 
1) Identity Operators
    a) is 
    b) is not
    
2) Membership Operators 
    a) in 
    b) not in

In [243]:
a = 10
b = 10
print(id(a))
print(id(b))
a is b

140735874896968
140735874896968

True

In [250]:
a = 250.5
b = 250.5
print(id(a))
print(id(b))
a is not b

2133733853264
2133691464080

True

In [251]:
list1 = [10,20,30,40,50,60]
50 in list1

True

In [ ]:
Input Output

In [257]:
age = (input('Enter the age: '))
age

Enter the age: 35

'35'

In [263]:
print('hi',end='')
print('Hello',end='')
print('How are you?')

hiHelloHow are you?

In [259]:
print('Hi, Hello, How are you?')

Hi, Hello, How are you?

In [264]:
age=input('enter the age') 
age=int(age)

enter the age10

In [265]:
age

10

In [ ]:
Flow Control

If else
For
While

In [276]:
marks = int(input('Enter the marks: '))
if marks<=35:
    print('You failed the exam')
    
else:
    print('You passed the exam')
print('Hello')

Enter the marks: 25
You failed the exam

In [279]:
marks = int(input('Enter the marks: '))
if marks<=35:
    print('You failed the exam')
elif marks>35 and marks<=55:
    print('You got an avg marks')
else:
    print('You got excellent marks')

Enter the marks: 65
You got excellent marks